body {
  background-color: #f1f1f1;
  color: #999;
}
h1 {
  font-size: 20px;
  line-height: 70;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}
h5 {
  margin-top: 5px;
  color: #999;
}

a {
  font-size: 13px;
  color: #555;
  text-decoration: none;
}
a:hover {
  color: #ff6633;
  text-decoration: none;
}
.right-align {
  float: right;
}

.fa-bars, .fa-cog, .fa-heart, .fa-user, .fa-sign-out {
  color: #ff6633;
}
.fa-bars:hover, .fa-cog:hover, .fa-heart:hover, .fa-user:hover, .fa-times:hover, .fa-sign-out:hover {
  color: #555;
}


/************** Navbar **************/
.container-fluid {
  background-color: #fff;
}
.navbar {
 margin-bottom: 0;
 background-color: #fff;
 height: 50px;
}
.brand-logo {
  width: 38px;
  height: 38px;
  margin-left: 14px;
  margin-top: 4px;
}
.brand-title {
  position: absolute;
  margin-top: 15px ;
  font-size: 18px;
  color: #ff6633;
}
.navbar-brand {
  padding: 0 0 0 15px;
  height: 40px; 
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #fff;
}
.nav-list-item {
  padding: 14px;
}
.nav-list-search {
  position: absolute;
  margin-left: 38px;
}
.product-search-box {
  padding-top: 8px;
  width: 240px;
}
.product-search {
  width: 192px;
  margin-left: 20px;
  border-radius: 0;
  height: 30px;
  margin-top: 1px;
  padding-left: 8px;
}
.product-search-btn {
  height: 30px;
  margin-top: 1px;
  padding: 4px 7px;
  border-radius: 0;
}
.product-search-btn:hover {
  color: #ff6633;
}
.fa-search {
  color: #c4c4c4;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
  color: #ff6633;
}
.left-navbar {
  background-color: #fff;
  height: 500px;
  padding: 15px;
}
.right-nav {
  background: #fff;
  height: 500px;
  padding: 15px;
}
.category {
  list-style: none;
  padding: 1px 0;
  cursor: crosshair;
}
.category-canvas {
  padding-left: 0;
}
.category-title {
  border-bottom: 1px solid #e5e5e5;
  width: 90px;
  padding-bottom: 5px;
  color: #bbb;
}
.capital {
/*  color: #777;
  font-weight: 500;*/
}
.menu {
  z-index: 999;
}
.post-add {
  position: absolute;
  top: 4px;
  right: 64px;
}
.menu-motion-btn {
  position: absolute;
  right: 40px;
  top: 14px;
  cursor: pointer;
}
.login-btn {
  cursor: pointer;
}
.plus {
  font-size: 26px;
}
/*********** LANDING PAGE  *************/
.landing-banner-cover {
  padding: 0;
}
.landing-banner {
  height: 290px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
  background: url(https://s3.amazonaws.com/delbapplication/banner.png);
}
.bars {
  z-index: 999;
  color: #fff;
}
/**************Product List **************/
.product-list-canvas {
 
}
.product-list {
  list-style: none;
  padding-left: 0;
  background-color: #fff;
}
.product-item {
  padding: 15px;
  border-radius: 4px;
}
.product-item:hover{
  background-color: #f2f2f2;
}
.product-item > * {
  display: inline-block;
  vertical-align: middle;
}
.product-item-media {
  width: 140px;
  height: 100px;
}
.product-item-info {
  padding: 0 20px;
  height: 90px;
}
.product-item-info p {
  line-height: 20px;
  color: #999;
  font-size: 14px;
}
.product-item-info h2 {
  margin-top: 0;
}
.product-item-link {
  display: block;
  width: 24px;
  padding: 3px;
  border-radius: 50%;
  float: right;
  background-color: #fff;
  text-align: center;
}
.small-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/*UPVOTE BUTTON*/
.upvote-button {
  font-weight: 600;
  margin-right: 15px;
  width: 34px;
  text-align: center;
  padding: 4px 0;
  border-radius: 4px;
  background-color: #fff;
}
.upvote-button:hover {
  color: #5e9aee;
}
.upvote-button.active {
  color: #5e9aee;
}
.upvote-button > * {
  display: block;
  padding: 3px;
}

/*POPUP CSS*/
.popup .popup-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.97;
  z-index: 99;
}
.popup .popup-wrap img {
  position: fixed;
  top: 40px;
  left: 40px;
  cursor: pointer;
  
}
.popup .popup-content {
  position: fixed;
  z-index: 999;
  padding: 25px 25px 45px 0px;
  background: #efefef;
  border-radius: 5px;  
}
.popup .popup-content > h1 {
  position: absolute;
}
.popup-close {
  position: absolute;
  right: 50px;
  top: 50px;
  padding: 10px;
  background: #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 12px;
}
.absolute {
  position: absolute;
}
button.post-btn {
  margin-top: 10px;
  padding: 10px 70px;
  font-weight: 500;
  outline: 0;
  border: 0;
  background-color: #ff6633;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #e5663b;
}
.popup-content.login-popup {
  text-align: center;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.facebook-btn {
  color: #fff;
  background-color: #3b5998;
  margin: 20px;
}
.post-popup {
  text-align: center;
  width: 340px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.post-header {
  padding-bottom: 15px;
}

/************* TOP TEN LIST***************/
.topten {
  list-style: none;
  cursor: pointer;
  margin-bottom: 5px;
}
.topten-img{
  width: 35px;
  height: 35px;
  border-radius: 10%;
  margin-right: 10px;
}
.topten-description {
  margin-left: 46px;
  margin-top: -13px;
}
.topten-name {
  font-size: 14px;
  vertical-align: super;
}
.topten-ul {
  padding:0;
}
/************** MEDIA QUERY *************/
@media(max-width: 767px){

  /********* NAVBAR ************/
  .navbar-header {
    background-color: #fff;
    height: 48px;
  }
  .product-search-box {
    width: 170px;
  }
  .product-search{
    width: 130px;
  }
  .navbar-toggle {
    margin-top: 6px;
    margin-bottom: 3px;
  }
  /************* POP UPS *************/
  .popup .popup-content {
    padding: 5px 15px 25px 15px;
  }
  .post-btn {
    width: 100%;
    margin-top: 0;
  }
  .padding-zero-left {
    padding-left: 0;
  }
  /********* LANDING PAGE ************/
  .landing-banner {
    margin-top: 0;
  }
  .control-label {
    text-align: right;
  }
}

@media(min-width: 768px) and (max-width: 1199px){
  .product-list-canvas{
    padding-right: 0;
  }
}

@media(min-width: 768px){
  .post-popup {
    width: 600px;
  }
}














